.ui.icon.message {
    display: flex;
    width: auto;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    .cancel {
        color: darkred;
    }

    .check {
        color: darkgreen;
    }
}

