#splashMenu {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  min-width: 300px;
  position: fixed;
  background-color: #a7ad9f;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  z-index: 9;

  table,
  #timeSelect {
    max-width: 200px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
  }

  #timeSelect {
    background-color: white;
    border-radius: 2px;

    .dropdown {
      height: 22px;

      .menu {
        left: -61px !important;

        .item {
          width: 200px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1430px) {
  #splashMenu {
    width: 100%;
    padding: 15px;
    border-radius: 0px;
  }
}

@media (max-width: 720px) {
  #splashMenu {
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    transform: none !important;
    
    #speedTable tr {
      padding-top: 0.1em !important;
      padding-bottom: 0.1em !important;
    }
  }
}

@media (max-width: 720px) and (orientation: landscape) {
  #splashMenu h1 {
    margin-bottom: 0px !important;
  }
  

  #speedTable {
    margin-bottom: 15px !important;

    thead {
      display: none !important;
    }

    tbody {
      display: flex !important;
      justify-content: center !important;
    }
  }
}
