#rightMenu {
  right: 0px;

  h4 {
    padding: 15px;
    text-align: center;
  }

  li {
    list-style-type: none;
  }

  div {
    width: 100%;
    display: block;
  }

  .optionSetting {
    display: flex;
    align-items: center;

    .triangle {
      position: absolute;

      &.hour {
        border-bottom-color: rgba(255, 179, 0, 1) !important;
      }

      &.day {
        border-bottom-color: rgba(255, 179, 0, 0.75) !important;
      }

      &.week {
        border-bottom-color: rgba(255, 179, 0, 0.5) !important;
      }

      &.month {
        border-bottom-color: rgba(255, 179, 0, 0.25) !important;
      }
    }

    .textWrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      padding: 10px 5%;
      // border-top: 1px solid #1a1a1a;
      // border-bottom: 1px solid #1a1a1a;
    }

    input[type="checkbox"] {
      cursor: pointer;
    }
  }
}

@media (max-width: 1439px) {
  #rightMenu {
    display: flex;
    flex-direction: row;

    div {
      width: 50% !important;
      display: flex !important;
      flex-direction: row;
    }

    hr {
      display: none;
    }

    .optionSetting .textWrap {
      align-items: center;
    }
  }
}
