/* Left Menu */

#leftMenu {
  left: 0px;
  top: 0px;
  height: 100%;
  overflow: hidden;
  position: fixed;

  &.contracted {
    height: 0px;
    top: calc(100% - 60px);
    overflow: initial;

    &.down-arrow {
      transform: rotate(180deg);
      animation: pulse-contracted 2s infinite;
    }
  }

  &.expanded .down-arrow {
    animation: pulse-expanded 2s infinite;
  }

  #quakeHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
  }

  #quakeTitle {
    padding: 15px 0px;
    text-align: center;
  }

  #quakeResults {
    margin-top: 103px;
    overflow: hidden;
    height: calc(100% - 103px);
  }

  hr {
    margin: 0px;
  }

  #searchField {
    margin-bottom: 20px;
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    line-height: 36px;
    vertical-align: middle;
    justify-content: space-between;

    &.active {
      width: 100%;

      &:hover button {
        color: black;
        background-color: white;
        border-color: white;
      }
    }

    input {
      background-color: transparent;
      color: white;
      border: 0px;
      border-radius: 0px;
      margin-left: 20px;
      flex-basis: calc(80% - 20px);
      padding-left: 2px;
    }

    button {
      color: white;
      background-color: transparent;
      border: 0px;
      border-radius: 0px;
      cursor: pointer;
      flex-basis: calc(20% - 10px);
      padding: 0px;
    }
  }

  #searchResults {
    z-index: 999;
    width: 20%;
    height: 100%;
    background-color: #1a1a1a;
    position: fixed;
    color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    top: 145px;
    height: auto !important;
    overflow-y: auto;
    overflow-x: hidden;
    animation-fill-mode: forwards;
    left: -20%;
  }

  .searchActive {
    animation: searchActive 0.3s ease-in;
  }

  .searchInactive {
    animation: searchInactive 0.3s ease-in;
  }
}

.ReactVirtualized__Table {
  border-spacing: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
}

.ReactVirtualized__Table__Grid {
  scrollbar-color: #666 #1a1a1a;
}

.ReactVirtualized__Table__headerColumn {
  text-transform: none !important;
  display: none;
}

.ReactVirtualized__Table__headerColumn:nth-of-type(1) {
  margin-right: 0px !important;
}

.ReactVirtualized__Table__headerColumn:nth-of-type(3) {
  margin-right: 5px !important;
}

.ReactVirtualized__Table__row {
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ReactVirtualized__Table__row.selected,
.ReactVirtualized__Table__row:hover {
  background-color: white;
  color: black;
}

.ReactVirtualized__Table__rowColumn:nth-of-type(1) {
  margin-right: 5px;
}

.ReactVirtualized__Table__rowColumn:nth-of-type(2) {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__rowColumn:nth-of-type(3) {
  text-align: left;
}

.ReactVirtualized__Grid__innerScrollContainer {
  border-top: 1px solid #333;
}

@keyframes searchActive {
  0% {
    left: -20%;
  }

  100% {
    left: 0%;
  }
}

@keyframes searchInactive {
  0% {
    left: 0%;
  }

  100% {
    left: -20%;
  }
}

@keyframes searchActive-mobile {
  0% {
    top: calc(100% - 45px);
  }

  100% {
    top: 45px;
  }
}

@keyframes searchInactive-mobile {
  0% {
    top: 45px;
  }

  100% {
    top: calc(100% - 45px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}


@media (max-width: 1439px) {
  #leftMenu {
    width: 100% !important;
    top: 0% !important;

    &.contracted {
      background-color: rgba(0,0,0,0.8);
      height: 100px !important;
    }

    &.expanded {
      background-color: rgba(0,0,0,0.8);
      height: calc(100% - 100px) !important;
    }

    #quakeHeader {
      background-color: transparent !important;
      text-align: center;

      #quakeTitle i {
        display: block;
        margin: auto;
        cursor: pointer;
        animation-name: pulse;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
      }
    }

    h4 {
      width: 50%;
      display: inline-block;
    }

    .expanded h4 {
      border-bottom: 1px solid #1a1a1a;
      padding-bottom: 10px;
    }

    #searchResults {
      z-index: 999;
      width: 100%;
      height: 100%;
      top: 45px;
      left: 0px;
    }

    #searchField, hr {
      display: none;
      // input {
      //   width: calc(80% - 20px);
      // }

      // button {
      //   width: calc(20% - 20px);
      // }
    }

    .searchActive {
      animation: searchActive-mobile 0.3s ease-in;
    }

    .searchInactive {
      animation: searchInactive-mobile 0.3s ease-in;
    }
  }
}
